h2{
    color: brown;
}
.guzel{
    color: var(--guzelRengi , red) ;
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: inline-block;
    font-size: xx-large;
}